<!-- <footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col-sm-6">
                © 2023 Inventory Management System. All Rights Reserved
            </div>
            <div class="col-sm-6 text-right">
                Developed by <a href="github.com/nasirudd-in">bdtask</a>
            </div>
        </div>
    </div>
</footer> -->
<footer class="site-footer" style="background:#5f56b7;color: white" id="footer">
    <div class="row">
    <div class="col-md-7">
    সার্ভিস : ডিজিটাল সফট্ওয়্যার বিডি, সাপোর্ট : 01612-9999 66, ভার্সন : 9
    </div>
    <div class="col-md-5 text-right">
    লাইসেন্স আছে : 8966 দিন | সদস্য রিমেনিং 2000
    </div>
    </div>
    </footer>