{% extends 'base/base.html' %} {% block title %}Season List{% endblock title %}
{% block breadcrumbs %}
<div class="breadcrumbs">
  <div class="breadcrumbs-inner">
    <div class="row m-0">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Season</a></li>
              <li class="active">List</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock breadcrumbs %} {% block content %}
<section class="content" style="padding-top: 25px">
  <div class="container-fluid">
    <div class="modal fade" id="modal">
      <div class="modal-dialog modal-lg" id="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="modal-body" id="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              বন্ধ
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card" style="margin-bottom: 25px">
      <div class="card-header bg-info text-white" style="cursor: pointer">
        <h4>
          <strong>অ্যাকাউন্টস্</strong>
          <a
            class="btn btn-success btn-sm"
            style="float: right"
            href="https://s.dsbpos.com/accounts/transactions/create"
            ><i class="fa fa-plus"></i>&nbsp;নতুন অ্যাকাউন্টস্</a
          >
        </h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3 offset-md-1">
            <label for="daterange"><strong>&nbsp;</strong></label>
            <h4>Balance : <strong>0 </strong></h4>
          </div>
          <div class="col-md-2">
            <label for="daterange"><strong>ডেট রেন্জ</strong></label>
            <input
              type="text"
              name="daterange"
              id="daterange"
              value="2023-08-01 - 2023-08-31"
              class="form-control"
              autocomplete="off"
              placeholder="Search by daterange"
            />
          </div>
          <div class="col-md-2">
            <label for="type"><strong>লেনদেন টাইপ</strong></label>
            <select
              class="form-control select2bs4 select2-hidden-accessible"
              name="type"
              id="type"
              data-select2-id="type"
              tabindex="-1"
              aria-hidden="true"
            >
              <option value="-1" data-select2-id="2">
                সকল ট্রানজেকসন টাইপ
              </option>
              <option value="1">খরচ / ব্যায়</option>
              <option value="0">জমা</option></select
            ><span
              class="select2 select2-container select2-container--bootstrap4"
              dir="ltr"
              data-select2-id="1"
              style="width: 137px"
              ><span class="selection"
                ><span
                  class="select2-selection select2-selection--single"
                  role="combobox"
                  aria-haspopup="true"
                  aria-expanded="false"
                  tabindex="0"
                  aria-disabled="false"
                  aria-labelledby="select2-type-container"
                  ><span
                    class="select2-selection__rendered"
                    id="select2-type-container"
                    role="textbox"
                    aria-readonly="true"
                    title="সকল ট্রানজেকসন টাইপ"
                    >সকল ট্রানজেকসন টাইপ</span
                  ><span class="select2-selection__arrow" role="presentation"
                    ><b role="presentation"></b></span></span></span
              ><span class="dropdown-wrapper" aria-hidden="true"></span
            ></span>
          </div>
          <div class="col-md-1">
            <label><strong>&nbsp;</strong></label>
            <button
              type="button"
              class="btn btn-md btn-block btn-primary"
              onclick="if (!window.__cfRLUnblockHandlers) return false; search()"
            >
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <span id="datatable-export-file-name" style="display: none"
          >অ্যাকাউন্টস্</span
        >
        <div
          id="DataTables_Table_0_wrapper"
          class="dataTables_wrapper dt-bootstrap4 no-footer"
        >
          <div class="dt-buttons btn-group flex-wrap">
            <div class="btn-group">
              <button
                class="btn btn-secondary buttons-collection dropdown-toggle buttons-page-length btn-sm"
                tabindex="0"
                aria-controls="DataTables_Table_0"
                type="button"
                aria-haspopup="true"
              >
                <span>Show 100 rows</span>
              </button>
            </div>
            <button
              class="btn buttons-copy buttons-html5 btn-sm btn-warning"
              tabindex="0"
              aria-controls="DataTables_Table_0"
              type="button"
            >
              <i class="fas fa-copy"></i>&nbsp;Copy
            </button>
            <button
              class="btn buttons-print btn-sm btn-dark"
              tabindex="0"
              aria-controls="DataTables_Table_0"
              type="button"
            >
              <i class="fas fa-print"></i>&nbsp;Print
            </button>
            <button
              class="btn buttons-csv buttons-html5 btn-sm btn-success"
              tabindex="0"
              aria-controls="DataTables_Table_0"
              type="button"
            >
              <i class="fas fa-file-csv"></i>&nbsp;CSV
            </button>
            <button
              class="btn buttons-excel buttons-html5 btn-sm btn-primary"
              tabindex="0"
              aria-controls="DataTables_Table_0"
              type="button"
            >
              <i class="far fa-file-excel"></i>&nbsp;Excel
            </button>
            <button
              class="btn buttons-pdf buttons-html5 btn-sm btn-info"
              tabindex="0"
              aria-controls="DataTables_Table_0"
              type="button"
            >
              <i class="fas fa-file-pdf"></i>&nbsp;PDF
            </button>
          </div>
          <div id="DataTables_Table_0_filter" class="dataTables_filter">
            <label
              >Search:<input
                type="search"
                class="form-control form-control-sm"
                placeholder=""
                aria-controls="DataTables_Table_0"
            /></label>
          </div>
          <div class="dataTables_scroll">
            <div
              class="dataTables_scrollHead"
              style="
                overflow: hidden;
                position: relative;
                border: 0px none;
                width: 100%;
              "
            >
              <div
                class="dataTables_scrollHeadInner"
                style="
                  box-sizing: content-box;
                  width: 972px;
                  padding-right: 0px;
                "
              >
                <table
                  class="table table-bordered last-row-bold table-striped datatable dataTable no-footer"
                  role="grid"
                  style="margin-left: 0px; width: 972px"
                >
                  <thead>
                    <tr role="row">
                      <th
                        class="sorting_desc"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        style="width: 21.9167px"
                        aria-sort="descending"
                        aria-label="নং: activate to sort column ascending"
                      >
                        নং
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        style="width: 49.8833px"
                        aria-label="তারিখ: activate to sort column ascending"
                      >
                        তারিখ
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        style="width: 86.9px"
                        aria-label="খরচ / ব্যায়: activate to sort column ascending"
                      >
                        খরচ / ব্যায়
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        style="width: 35.9px"
                        aria-label="জমা: activate to sort column ascending"
                      >
                        জমা
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        style="width: 61.8667px"
                        aria-label="ব্যালেন্স: activate to sort column ascending"
                      >
                        ব্যালেন্স
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        style="width: 97.1px"
                        aria-label="ইন্ট্রি করছেন: activate to sort column ascending"
                      >
                        ইন্ট্রি করছেন
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        style="width: 126.667px"
                        aria-label="আপডেট করছেন: activate to sort column ascending"
                      >
                        আপডেট করছেন
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        style="width: 35.9px"
                        aria-label="নোট: activate to sort column ascending"
                      >
                        নোট
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        style="width: 67.8667px"
                        aria-label="অ্যাকশন: activate to sort column ascending"
                      >
                        অ্যাকশন
                      </th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <div
              class="dataTables_scrollBody"
              style="position: relative; overflow: auto; width: 100%"
            >
              <table
                class="table table-bordered last-row-bold table-striped datatable dataTable no-footer"
                id="DataTables_Table_0"
                role="grid"
                aria-describedby="DataTables_Table_0_info"
                style="width: 100%"
              >
                <thead>
                  <tr role="row" style="height: 0px">
                    <th
                      class="sorting_desc"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      style="
                        width: 21.9167px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        border-top-width: 0px;
                        border-bottom-width: 0px;
                        height: 0px;
                      "
                      aria-sort="descending"
                      aria-label="নং: activate to sort column ascending"
                    >
                      <div
                        class="dataTables_sizing"
                        style="height: 0px; overflow: hidden"
                      >
                        নং
                      </div>
                    </th>
                    <th
                      class="sorting"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      style="
                        width: 49.8833px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        border-top-width: 0px;
                        border-bottom-width: 0px;
                        height: 0px;
                      "
                      aria-label="তারিখ: activate to sort column ascending"
                    >
                      <div
                        class="dataTables_sizing"
                        style="height: 0px; overflow: hidden"
                      >
                        তারিখ
                      </div>
                    </th>
                    <th
                      class="sorting"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      style="
                        width: 86.9px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        border-top-width: 0px;
                        border-bottom-width: 0px;
                        height: 0px;
                      "
                      aria-label="খরচ / ব্যায়: activate to sort column ascending"
                    >
                      <div
                        class="dataTables_sizing"
                        style="height: 0px; overflow: hidden"
                      >
                        খরচ / ব্যায়
                      </div>
                    </th>
                    <th
                      class="sorting"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      style="
                        width: 35.9px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        border-top-width: 0px;
                        border-bottom-width: 0px;
                        height: 0px;
                      "
                      aria-label="জমা: activate to sort column ascending"
                    >
                      <div
                        class="dataTables_sizing"
                        style="height: 0px; overflow: hidden"
                      >
                        জমা
                      </div>
                    </th>
                    <th
                      class="sorting"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      style="
                        width: 61.8667px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        border-top-width: 0px;
                        border-bottom-width: 0px;
                        height: 0px;
                      "
                      aria-label="ব্যালেন্স: activate to sort column ascending"
                    >
                      <div
                        class="dataTables_sizing"
                        style="height: 0px; overflow: hidden"
                      >
                        ব্যালেন্স
                      </div>
                    </th>
                    <th
                      class="sorting"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      style="
                        width: 97.1px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        border-top-width: 0px;
                        border-bottom-width: 0px;
                        height: 0px;
                      "
                      aria-label="ইন্ট্রি করছেন: activate to sort column ascending"
                    >
                      <div
                        class="dataTables_sizing"
                        style="height: 0px; overflow: hidden"
                      >
                        ইন্ট্রি করছেন
                      </div>
                    </th>
                    <th
                      class="sorting"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      style="
                        width: 126.667px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        border-top-width: 0px;
                        border-bottom-width: 0px;
                        height: 0px;
                      "
                      aria-label="আপডেট করছেন: activate to sort column ascending"
                    >
                      <div
                        class="dataTables_sizing"
                        style="height: 0px; overflow: hidden"
                      >
                        আপডেট করছেন
                      </div>
                    </th>
                    <th
                      class="sorting"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      style="
                        width: 35.9px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        border-top-width: 0px;
                        border-bottom-width: 0px;
                        height: 0px;
                      "
                      aria-label="নোট: activate to sort column ascending"
                    >
                      <div
                        class="dataTables_sizing"
                        style="height: 0px; overflow: hidden"
                      >
                        নোট
                      </div>
                    </th>
                    <th
                      class="sorting"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      style="
                        width: 67.8667px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        border-top-width: 0px;
                        border-bottom-width: 0px;
                        height: 0px;
                      "
                      aria-label="অ্যাকশন: activate to sort column ascending"
                    >
                      <div
                        class="dataTables_sizing"
                        style="height: 0px; overflow: hidden"
                      >
                        অ্যাকশন
                      </div>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="odd">
                    <td colspan="9" class="dataTables_empty" valign="top">
                      No data available in table
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div
            class="dataTables_info"
            id="DataTables_Table_0_info"
            role="status"
            aria-live="polite"
          >
            Showing 0 to 0 of 0 entries
          </div>
          <div
            class="dataTables_paginate paging_simple_numbers"
            id="DataTables_Table_0_paginate"
          >
            <ul class="pagination">
              <li
                class="paginate_button page-item previous disabled"
                id="DataTables_Table_0_previous"
              >
                <a
                  href="#"
                  aria-controls="DataTables_Table_0"
                  data-dt-idx="0"
                  tabindex="0"
                  class="page-link"
                  >Previous</a
                >
              </li>
              <li
                class="paginate_button page-item next disabled"
                id="DataTables_Table_0_next"
              >
                <a
                  href="#"
                  aria-controls="DataTables_Table_0"
                  data-dt-idx="1"
                  tabindex="0"
                  class="page-link"
                  >Next</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function search() {
        var type = $("#type").val();
        var daterange = $("#daterange").val();
        var from = daterange.split(" - ")[0];
        var to = daterange.split(" - ")[1];

        from = from == undefined ? "" : from;
        to = to == undefined ? "" : to;

        openLink(
          "https://s.dsbpos.com/accounts/transactions/" +
            type +
            "&" +
            from +
            "&" +
            to
        );
      }
    </script>
  </div>
</section>
{% endblock content %}
