{% extends 'base/base.html' %} {% block title %}Season List{% endblock title %}
{% block breadcrumbs %}
<div class="breadcrumbs">
  <div class="breadcrumbs-inner">
    <div class="row m-0">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Season</a></li>
              <li class="active">List</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock breadcrumbs %} {% block content %}
<section class="content" style="padding-top: 25px">
  <div class="container-fluid">
    <div class="modal fade" id="modal">
      <div class="modal-dialog modal-lg" id="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="modal-body" id="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              বন্ধ
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card" style="margin-bottom: 25px">
      <div class="card-header bg-info text-white" style="cursor: pointer">
        <h4>
          <strong>কর্মী</strong>
          <a
            class="btn btn-success btn-sm"
            style="float: right"
            href="{% url 'new_employee' %}"
            ><i class="fa fa-plus"></i>&nbsp;নতুন কর্মী</a
          >
        </h4>
      </div>
      <div class="card-body">
        <span id="datatable-export-file-name" style="display: none">কর্মী</span>
        <div
          id="DataTables_Table_0_wrapper"
          class="dataTables_wrapper dt-bootstrap4 no-footer"
        >
          <div class="dt-buttons btn-group flex-wrap">
            <div class="btn-group">
              <button
                class="btn btn-secondary buttons-collection dropdown-toggle buttons-page-length btn-sm"
                tabindex="0"
                aria-controls="DataTables_Table_0"
                type="button"
                aria-haspopup="true"
              >
                <span>Show 100 rows</span>
              </button>
            </div>
            <button
              class="btn buttons-copy buttons-html5 btn-sm btn-warning"
              tabindex="0"
              aria-controls="DataTables_Table_0"
              type="button"
            >
              <i class="fas fa-copy"></i>&nbsp;Copy
            </button>
            <button
              class="btn buttons-print btn-sm btn-dark"
              tabindex="0"
              aria-controls="DataTables_Table_0"
              type="button"
            >
              <i class="fas fa-print"></i>&nbsp;Print
            </button>
            <button
              class="btn buttons-csv buttons-html5 btn-sm btn-success"
              tabindex="0"
              aria-controls="DataTables_Table_0"
              type="button"
            >
              <i class="fas fa-file-csv"></i>&nbsp;CSV
            </button>
            <button
              class="btn buttons-excel buttons-html5 btn-sm btn-primary"
              tabindex="0"
              aria-controls="DataTables_Table_0"
              type="button"
            >
              <i class="far fa-file-excel"></i>&nbsp;Excel
            </button>
            <button
              class="btn buttons-pdf buttons-html5 btn-sm btn-info"
              tabindex="0"
              aria-controls="DataTables_Table_0"
              type="button"
            >
              <i class="fas fa-file-pdf"></i>&nbsp;PDF
            </button>
          </div>
          <div id="DataTables_Table_0_filter" class="dataTables_filter">
            <label
              >Search:<input
                type="search"
                class="form-control form-control-sm"
                placeholder=""
                aria-controls="DataTables_Table_0"
            /></label>
          </div>
          <div style="overflow-x: auto">
            <table
              class="table table-bordered last-row-bold table-striped datatable dataTable no-footer"
            >
              <thead>
                <tr>
                  <th scope="col">নং</th>
                  <th scope="col" class="col-md-1">অ্যাকশন</th>
                  <th scope="col" class="col-md-1">নাম</th>
                  <th scope="col" class="col-md-1">আইডি</th>
                  <th scope="col" class="col-md-1">ষ্টাটাস</th>
                  <th scope="col" class="col-md-1">মোবাইল</th>
                  <th scope="col" class="col-md-1">সেলারি</th>
                  <th scope="col" class="col-md-2">ভর্তির তারিখ</th>
                  <th scope="col" class="col-md-2">ঠিকানা</th>
                  <th scope="col" class="col-md-2">নোট</th>
                </tr>
              </thead>
              <tbody>
                {% for info in employees %}
                <tr>
                  <td scope="row">{{info.id}}</td>
                  <td class="col-md-1">{{info.note}}</td>
                  <td class="col-md-1">{{info.name}}</td>
                  <td class="col-md-1">{{info.id_number}}</td>
                  <td class="col-md-1">{{info.note}}</td>
                  <td class="col-md-1">{{info.mobile_number}}</td>
                  <td class="col-md-1">{{info.salary}}</td>
                  <td class="col-md-2">{{info.admission_date}}</td>
                  <td class="col-md-2">{{info.address}}</td>
                  <td class="col-md-2">{{info.note}}</td>
                </tr>
                {% endfor %}
                <!-- <tr class="odd">
                <td valign="top" colspan="10" class="dataTables_empty">No data available in table</td>
              </tr> -->
              </tbody>
            </table>
          </div>
          <div
            class="dataTables_info"
            id="DataTables_Table_0_info"
            role="status"
            aria-live="polite"
          >
            Showing 0 to 0 of 0 entries
          </div>
          <div
            class="dataTables_paginate paging_simple_numbers"
            id="DataTables_Table_0_paginate"
          >
            <ul class="pagination">
              <li
                class="paginate_button page-item previous disabled"
                id="DataTables_Table_0_previous"
              >
                <a
                  href="#"
                  aria-controls="DataTables_Table_0"
                  data-dt-idx="0"
                  tabindex="0"
                  class="page-link"
                  >Previous</a
                >
              </li>
              <li
                class="paginate_button page-item next disabled"
                id="DataTables_Table_0_next"
              >
                <a
                  href="#"
                  aria-controls="DataTables_Table_0"
                  data-dt-idx="1"
                  tabindex="0"
                  class="page-link"
                  >Next</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
