{% extends 'base/base.html' %} {% block title %}Season List{% endblock title %}
{% block breadcrumbs %}
<div class="breadcrumbs">
  <div class="breadcrumbs-inner">
    <div class="row m-0">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Season</a></li>
              <li class="active">List</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock breadcrumbs %} {% block content %}
<section class="content" style="padding-top: 25px" data-select2-id="13">
  <div class="container-fluid" data-select2-id="12">
    <div class="modal fade" id="modal">
      <div class="modal-dialog modal-lg" id="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="modal-body" id="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              বন্ধ
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card" style="margin-bottom: 25px" data-select2-id="11">
      <div class="card-header bg-info text-white" style="cursor: pointer">
        <h4>
          <strong>নতুন কর্মী</strong>
          <a class="btn btn-success btn-sm" style="float: right">ফিরে যাও</a>
        </h4>
      </div>
      <div class="card-body" data-select2-id="10">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div>{{ employee_form }}</div>
            <div>{{ employee_login_form.as_p }}</div>
            <div>{{granter_form.as_p }}</div>
          </div>
          <br />
          <button type="submit">Upload</button>
        </form>
      </div>
    </div>
    {% endblock content %}
  </div>
</section>
